$break-small: 719px;

body {
  font-family: Inter;
  color: #797283;

  p {
    font-family: Inter;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 43px;
    color: #1E1C21;
  }

  a {
    color: #CE9FFC;

    &:hover, &:active {
      color: #CE9FFC;
    }
  }

  header {
    background-color: #FDFAFF;
    display: block;
    padding: 39px 0;

    .logo {
      img {
        height: 44px;
        filter: drop-shadow(0px 0px 3.85px rgba(0,0,0,0.2));
      }
    }

    .top-menu {
      display: flex;
      justify-content: space-between;

      .get-started {
        a {
          width: 160px;
          height: 47px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 47px;
          display: block;
          background: #CE9FFC;
          border-radius: 4px;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }
  }

  .page-header {
    text-align: center;
    padding: 100px 0 100px 0;
    background-color: #fdfaff;
    border-radius: 0px 0px 40px 40px;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      color: #1E1C21;
      padding: 0 0 15px 0;
      line-height: 54px;
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      color: #1E1C21;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
    }

    img {
      margin-top: 61px;
      max-width: 65%;
    }

    &.home {
      padding-bottom: 30px;
    }

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      h1, h2 {
        padding-top: 0;
      }

      img {
        max-width: 80%;
      }
    }
  }

  .features {
    .features-heading {
      padding-top: 1rem;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }

    .button {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: $break-small) {
        display: block;
        width: 100%;
        margin-top: 30px;
      }

      a {
        font-size: 18px;
        background: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
        width: 184px;
        margin-top: 2rem;
        border-radius: 4px;
        height: 54px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: #fff;

        @media screen and (max-width: $break-small) {
          margin: 0 auto;
        }

        &:active {

        }
      }
    }

    .feature__item {
      padding: 50px 0;

      .row {
        display: flex;
        flex-wrap: wrap;

        .col-6 {
          align-self: center;
        }
      }

      .feature__content {
        justify-content: center;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 15px;
          color: #1E1C21;
        }

        p {
          font-size: 18px;
          line-height: 26px;
        }
      }

      .thumbnail {
        img {
          max-width: 100%;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
      }

      .col-6 {
        order: 2;
      }

      .content {
        text-align: center;
        display: block !important;
        margin: 0;
      }

      h2 {
        margin-top: 10px;
      }
    }
  }

  .call-to-action {
    background: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    color: #ffffff;
    padding: 65px 0;
    border-radius: 0px;

    .container {
      display: flex;

      @media screen and (max-width: $break-small) {
        display: block;

        .call-to-action__content {
          text-align: center;
        }
      }
    }

    .button {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: $break-small) {
        display: block;
        width: 100%;
        margin-top: 30px;
      }

      a {
        font-size: 18px;
        background-color: #ffffff;
        width: 184px;
        margin-left: auto;
        border-radius: 4px;
        height: 54px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: #212121;

        @media screen and (max-width: $break-small) {
          margin: 0 auto;
        }

        &:active {

        }
      }
    }

    .call-to-action__content {
      h2 {
        font-size: 36px;
        font-family: Inter;
        font-weight: 600;
        margin: 0 0 32px;
        color: #ffffff;
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .content {
    line-height: 26px;
    margin: 47px 0 23px;

    p {
      margin: 0 0 16px;
    }

    .title {
      margin: 0 0 44px;
    }
  }

  .targets {
    margin: 120px 0 0;

    .title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 99px;
      color: #1E1C21;
    }

    .item {
      margin: 0 0 60px 0;

      h3 {
        font-size: 18px;
        margin: 5px 0 0;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  .support {
    padding: 40px 50px 0 50px;

    p {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .button {
      text-decoration: underline;
      text-align: center;
      padding: 20px;

      a {
        svg {
          padding-right: 5px;
        }

        color: #212121;
        display: flex;
        align-items: center;
      }
    }
  }

  footer {
    padding: 120px 0 45px;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .logo {
        img {
          filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.2));
        }
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: Inter;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: #797283;

              &:hover, &:active {
                color: #CE9FFC;
              }
            }
          }
        }

        .links__special {
          background-color: #CE9FFC;
          color: #ffffff;
          border-radius: 4px;
          padding: 2px 5px;
          &:hover {
            color: #ffffff;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}

.item-icon {
  height: 50px;
  width: 50px;
}

.download-all {
  margin-top: 4rem;
  text-align: center;
}

.download-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $break-small) {
    display: block;
    width: 100%;
    margin-top: 30px;
  }

  a {
    font-size: 18px;
    background: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    width: 100%;
    margin-top: 2rem;
    border-radius: 4px;
    height: 54px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    flex-direction: column;
    color: #fff;

    @media screen and (max-width: $break-small) {
      margin: 0 auto;
    }

    &:hover {
      color: #fff;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
}

.services {
  .service-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @media (max-width: 750px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 400px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 250px) {
      grid-template-columns: 1fr;
    }

    .item {
      display: flex;
      flex-direction: column;

      img {
        width: 30%;
        height: 30%;
        max-width: 50vw;
        align-self: center;
        margin-bottom: 1rem;
      }
      p {
        text-align: center;
      }
    }
  }

  .service-not-found-service {
    display: flex;
    flex-direction: column;
    align-content: center;

    margin-top: 2rem;

    img {
      width: 6vw;
      height: 50%;
      max-width: 50vw;
      align-self: center;
      margin-bottom: 1rem;

      @media (max-width: 750px) {
        width: 15vw;
      }
      @media (max-width: 400px) {
        width: 25vw;
      }
      @media (max-width: 250px) {
        width: 50vw;
      }
    }
    p {
      text-align: center;
    }
  }

  .search-box {
    width: calc(100% - 4rem);
    height: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 15px 30px 0px, rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
    font-size: 1.125rem;
    padding: 2rem;
    border: 0;
    margin-bottom: 4rem;
  
    &:focus {
      outline: 0;
    }
  }
}
